# System & OS
.DS_Store
Thumbs.db

# Virtual Environments
venv/
.venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Node.js
node_modules/
dist/
build/
.npm
*.log

# Docker
.docker/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project Specific
.env
*.postman_dump.json
/Users/srinivasbellarichenna/Personal/dev/genai-projects/antigravity_workspace/commercetools-mcp-demo/.gemini/
